<input type="text" value="{{title}}" />
<hr />
<textarea name="content">{{{content}}}</textarea>

<div id="edit_info">
    <span>{{pageKey}}</span> last edited by <span>{{username}}</span> at {{dateModified}}
</div>